{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Network auto</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav me-auto">
              <!-- <li class="nav-item">
                <a class="nav-link active" href="#">Home
                  <span class="visually-hidden">(current)</span>
                </a>
              </li> -->
              <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa-solid fa-server"></i>  All Devices</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa-solid fa-plus"></i>  Add Device</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Monitoring</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Separated link</a>
                </div>
              </li>
            </ul>
            <form class="d-flex">
              <input class="form-control me-sm-2" type="search" placeholder="Search">
              <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
      <div class="container-fluid"> 
        <h3 class="m4">Devices</h3> 
        {% if devices %}
        <div class="card bg-light mb-3" style="max-width: 200rem;">
          <div class="card-header">Devices</div>
          <div class="card-body">
            <p class="card-text">
              <div>
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th scope="col">Device Name</th>
                      <th scope="col">Description</th>
                      <th scope="col">Created Time</th>
                      <th scope="col">IP address</th>
                      <th scope="col">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for device in devices %}
                      <tr>
                        <td>{{ device.device_name }}</td>
                        <td>{{ device.description }}</td>
                        <td>{{ device.created }}</td>
                        <td>{{ device.IP_add }}</td>
                        <td>ACTIONS</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>>
            </p>
          </div>
        </div>
        {% else %}
          <h5>No device records</h5>
        {% endif %}
      </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>